
/* ------------------------- GENERAL DECLARATION ------------------------ */
* {margin:0;padding:0;outline:none;}
img { outline:none; -ms-interpolation-mode: bicubic; border:0px;}
.subtitel a {color:inherit !important; }
html {}
html, body {line-height:20px; font-size:12px; font-weight:normal; padding:0; margin:0;width:100%; height: 100%;}
body {  font-family: Arial, LucidaSans, Unicode, Arial, sans-serif;font-size:12px; /*background: url('../images/media_artists_bg.png') no-repeat center center fixed; */}

h1 { float:left; font-size: 21px; font-family: 'AvantGardeBold', Arial, LucidaSans, Unicode;font-weight:normal; color: #fff; margin-bottom: 12px; }
h2 { font-size: 16px; font-family: 'AvantGardeBold', Arial, LucidaSans, Unicode;font-weight:normal; color: #000; margin-bottom: 12px; }
textarea { resize:none;font-family: Arial, LucidaSans, Unicode, Arial, sans-serif;font-size:12px;}
a {cursor:pointer; }
/* ------------------------------ WRAPPERS ------------------------------ */

#mob-wrapper{display:none!important;}

#site-wrapper {float:left; width:100%; min-height:100%; background: url('../images/pattern_bg.png');overflow:hidden; position:relative; top:0; left:0; z-index:0;}
#wrap {float:left; min-width: 100%; min-height:100%; height:auto;}
.site {float:left; min-width: 100%; min-height:100%;height:auto; }


/*Spotlight pagina*/
.spotlight_menu {float:left; height:100%; width:25%; position:fixed;}
.spotlight_menu_left {float:left; margin-top:120px; color:#fff; font-family: 'AvantGardeMedium'; font-weight:normal; letter-spacing: 2px; width:150px; z-index:3; list-style: none;}
.spotlight_menu_left li {float:left; width: 130px; margin-left:20px; margin-bottom:4px;}
.spotlight_menu_left li input[type='text']{float:left;}

/* PAGER */
.media{float:left; width:100%; height:100%!important; margin-left:0; position:fixed;z-index:1111}
.media .overlay{float:right; width:50%; height:100%; position: absolute; background-image: url('../images/pattern_bg.png'); background-color: rgba(0, 0, 0, 0.9); border-left:1px solid #fff; right:0; top:0; z-index:1111;}
.media .media_slides {float:left; width:100%; height:100%!important; list-style:none; overflow:hidden;}

    #mob-wrapper{display:none!important;}
.bx-pager {position:absolute;bottom:70px;left:30px;z-index:20; }
.spotlight_menu {float:left; height:100%; width:25%; position:fixed;}
.spotlight_overlay {float:left; height:100%; width:25%; background-image: url('../images/pattern_bg.png') ; background-color: rgba(0, 0, 0, 0.9); position:absolute; border-right:1px solid #fff; z-index:11;}
.spotlight_menu_left {float:left; margin-top:120px; color:#fff; font-family: 'AvantGardeMedium'; font-weight:normal; letter-spacing: 2px; width:150px; z-index:3; list-style: none;}
.spotlight_menu_left li {float:left; width: 130px; margin-left:20px; margin-bottom:4px;}
.spotlight_menu_left li input[type='text']{float:left;}

.media .media_slides li {float:left; width:25%; height:100%!important; position:relative;}
.media .media_slides li a{text-decoration:none; }
.media .media_slides li .inhoud {height:100%;}
.media .media_slides li .inhoud { position:absolute; top:75%; height:10em; margin-top:-5em; left:12px;}
.media .media_slides li .inhoud .readmore_container {float:left; width:100%;}
.media .media_slides li h1{float:left; background-color:#000; color:#fff; margin-bottom:12px; text-transform: uppercase; font-size:24px; position:relative;z-index:1; padding:2%; font-family: AvantGardeBold; font-weight: normal; letter-spacing: 2px;}
.media .media_slides li p{float:left; background-color:#000; color:#fff; margin-bottom:12px; font-size:20px; width:75%;  position:relative; z-index:1;padding:2%; font-family: AvantGardeMedium;}
.media .media_slides li .readmore_container span {float:left; font-weight:bold; color:#fff; background-color:#000; text-transform: uppercase; text-decoration: none; padding:0 12px 0 12px; position:relative; z-index:1;}
.media .media_slides li .readmore_container span:hover {color: #98C72A;}
.media .media_slides .backstretch {float:left; min-height:100%; min-width:100%; position:absolute; left:0; top:0; display:block; }

.bx-pager {      position:absolute;bottom:100px;left:30px;z-index:20; }
.spotlight_menu {float:left; height:100%; width:25%; position:fixed;}
.spotlight_overlay {float:left; height:100%; width:0%; background-image: url('../images/pattern_bg.png') ; background-color: rgba(0, 0, 0, 0.9); position:absolute; border-right:1px solid #fff; z-index:1;}
.spotlight_menu_left {float:left; margin-top:120px; color:#fff; font-family: 'AvantGardeMedium'; font-weight:normal; letter-spacing: 2px; width:150px; z-index:3; list-style: none;}
.spotlight_menu_left li {float:left; width: 130px; margin-left:20px; margin-bottom:4px;}
.spotlight_menu_left li input[type='text']{float:left;}

.media .media_slides li {float:left; width:50%; height:100%!important; position:relative;}
.media .media_slides li a {text-decoration:none;}
.media .media_slides li .inhoud {height:100%;}
.media .media_slides li .inhoud { position:absolute; top:75%; height:10em; margin-top:-5em; left:12px;}
.media .media_slides li .inhoud .readmore_container {float:left; width:100%;}
.media .media_slides li h1{float:left; background-color:#000; color:#fff; margin-bottom:12px; text-transform: uppercase; font-size:24px; position:relative;z-index:1; padding:2%; font-family: AvantGardeBold; font-weight: normal; letter-spacing: 2px;}
.media .media_slides li p{float:left; background-color:#000; color:#fff; margin-bottom:12px; font-size:20px; width:75%;  position:relative; z-index:1;padding:2%; font-family: AvantGardeMedium;}
.media .media_slides li .readmore_container span {float:left; font-weight:bold; color:#fff; background-color:#000; text-transform: uppercase; text-decoration: none; padding:0 12px 0 12px; position:relative; z-index:1;}
.media .media_slides li .readmore_container span:hover {color: #98C72A;}
.media .media_slides .backstretch {float:left; min-height:100%; min-width:100%; position:absolute; left:0; top:0; display:block; }


#mob-wrapper{display:none!important;}
.content {float:left;width:100%; padding-bottom: 45px; height:100%;}
#art_lover_container {float:left;width:100%; padding-bottom: 45px; height:100%; }



/* Footer */
.footer-wrapper {
  float:left; height:26px; width:100%; background: #000; opacity:0.7; font-size:11px;
  font-family: 'Roboto', sans-serif;
  position:fixed; box-shadow: 17px -60px 75px -35px #1F1F1F inset; margin-top:-45px; z-index:20000; bottom:0; z-index:1;
  color:#eee; text-align:center;
  padding:7px 0 0 0;

}
.footer-wrapper a {
    color:#eee;
    text-decoration: none;
}
.footer-wrapper a:hover {
    text-decoration: underline;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  .footer-wrapper {
    height: 120px;
    font-size: 22px;
    padding:18px 0 10px 0 ;

  }
}


.content {float:left;width:100%; padding-bottom: 90px; height:100%;}
#art_lover_container {float:left;width:100%;padding-bottom: 90px; height:100%; }

/* Contact page  */
.contact {max-width: 436px; position:relative; margin-top:200px; margin-left:auto; margin-right:auto;}
.google_maps {float:left;width:412px;height:450px;position: absolute; left:12px; top:0; z-index:10; visibility: hidden; }
.contact #map_canvas {height:412px; width:100%;float:left; }
.contact .linkback {position:absolute; z-index:10000;top:12px;left:35px;color:#fff;  font-family: 'AvantGardeMedium';}

.contact .contact_formulier {float:left; height:380px; width:380px; background: url('../images/pattern_content.png'); box-shadow: 17px -160px 75px -35px #1F1F1F inset; color:#fff; padding:16px; margin-left:12px; margin-bottom:30px;}
.contact .contact_formulier h1 {float:left; width:100%;}
.contact .contact_formulier ul {list-style: none;}
.contact .contact_formulier ul li {float:left; margin-bottom:12px; width:100%;}
.contact .contact_formulier ul li .ref_google_maps { float:left; width:100%; height:24px; text-indent:42px; padding-top:6px; color: #fff; text-decoration: none; background: url('../images/wereld.png') no-repeat; cursor:pointer;}
.contact .contact_formulier ul li .ref_google_maps:hover {text-decoration: underline;}




/* Footer */
.footer-wrapper { font-family: 'Roboto', sans-serif; float:left;  width:100%; background: #000; position:relative; box-shadow: 17px -60px 75px -35px #1F1F1F inset; margin-top:-90px; z-index:20000;}
.footer-wrapper .menu {float:left; height:45px; width:100%;}
.footer-wrapper .menu .bottom_menu{float:left; list-style: none; width:100%;}
.footer-wrapper .menu .bottom_menu li {float:left; text-align:center;  width:16%; }
.footer-wrapper .menu .bottom_menu li a { font-weight:normal;color:#fff; text-decoration: none; text-transform: uppercase; display:block; height:31px; padding-top:17px;}
.footer-wrapper .menu .bottom_menu li a:hover {color:#8dc63f; }
.footer-wrapper .menu .bottom_menu li a.active {color:#8dc63f;}
.footer-wrapper .slogan { padding-top:0px; }
.footer-wrapper .social_sharing {float:left; width:100%; height:45px; }


.message {height:111px; width:225px; background: url('../images/field_message.png') no-repeat; padding: 12px 12px 12px 28px; border:none; color: #adadac; font-family: Helvetica; font-size:11px; letter-spacing: 0.05em;}
.naam {float:left; height:32px; width:145px; background: url('../images/field_account.png'); padding-left:28px; padding-right:12px; border:none; color: #adadac;}
.email {float:left; height:32px; width:145px; background: url('../images/field_email.png'); padding-left:28px; padding-right:12px; border:none; color: #adadac;}
input[type='submit']{float:left; height:32px; width:98px; background: url('../images/button.png'); border:0; cursor:pointer; text-align: center; text-transform: uppercase; color:#fff; text-shadow: black 0.1em 0.1em 0.2em;}
input[type='submit']:hover{background-position: 0px -32px;}


.nav_balk {float:left;width:85px;height:26px;list-style:none;}
.notresponsive_nav {float:right;margin-top:-26px; }
.responsive_nav {float:right;margin-top:10px;}
.nav_balk li {float:left;}
.nav_balk li a {float:left;background:url('../images/artlover-nav.png') no-repeat;display:block;width:100%;height:100%; }
.nav_balk li a.overzicht_button {background-position:0px 0px;width:29px;height:26px;}
.nav_balk li a.prev_button{background-position:-31px 0px;width:29px;height:26px;}
.nav_balk li a.next_button {background-position:-62px 0px;width:27px;height:26px;}

@media screen and (max-width: 960px) {
  #mob-wrapper{display:none!important;}
  #controls-wrapper { margin:0 auto; height:42px; width:100%; bottom:100px; left:0; z-index:4000;  position:fixed; }
}
@media screen and (min-width: 960px) {
  .wrapper-mob{display: none;}
  #controls-wrapper { margin:0 auto; height:42px; width:100%; bottom:55px; left:0; z-index:4000;  position:fixed; }
}

#controls { overflow:hidden; height:100%; position:relative; text-align:left; z-index:5; }
#slidecounter { float:left; color:#999; font:14px "Helvetica Neue", Helvetica, Arial, sans-serif; text-shadow:#000 0 -1px 0; margin:0px 10px 0 15px; line-height:42px; }
#slidecaption { overflow:hidden; float:left; color:#FFF; font:400 14px "Helvetica Neue", Helvetica, Arial, sans-serif; text-shadow:#000 1px 1px 2px; margin:0 20px 0 0; line-height:42px; }

#prevslide, #nextslide{ position:absolute;height:125px; top:50%; margin-top:-100px; opacity:0.6; z-index:100000;}
#prevslide { left:0px; }
#nextslide { right:0px; }

ul#slide-list{ padding:15px 0; float:left; position:absolute; left:50%; }
ul#slide-list li{ list-style:none; width:18px; height:19px; float:left;margin:5px; }
ul#slide-list li.current-slide a, ul#slide-list li.current-slide a:hover{ background-position:0 0px; }../index.html
ul#slide-list li a:hover{ background-position:0 -19px; cursor:pointer; }
