---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/sections/Header';
import SubHeader from '@/components/sections/SubHeader';
import Footer from '@/components/sections/Footer.astro';
import SidebarOverlay from '@/components/SidebarOverlay.tsx';
import About from '@/components/sections/About';
import Projects from '@/components/sections/Projects';
import Binary from '@/components/sections/Binary.astro';
import More from '@/components/More';
import { getCollection } from 'astro:content';

// get all projects from the content collection
const projects = await getCollection('projects');
---

<Layout title="Paul Huisman | Freelance Web Developer">
  <!-- Sidebar Overlay -->
  <SidebarOverlay client:load />

  <div
    class="w-100vw max-w-100vw lg:max-w-auto overflow-x-hidden bg-gray-100 text-black lg:w-auto lg:overflow-x-auto lg:pl-14"
  >
    <!-- Header -->
    <Header client:load />
    <!-- Subheader -->

    <SubHeader client:load />

    <!-- Binary Section -->
    <Binary />

    <!-- About Section -->
    <About client:load />

    <!-- Projects Section -->
    <Projects projects={projects} client:load />

    <!-- More Section -->
    <More client:load />

    <!-- Footer -->
    <Footer />
  </div>
</Layout>
