---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/sections/Header';
import SubHeader from '@/components/sections/SubHeader';
import Footer from '@/components/sections/Footer.astro';
import SidebarOverlay from '@/components/SidebarOverlay.tsx';
import About from '@/components/sections/About';
import Projects from '@/components/sections/Projects.astro';
import More from '@/components/More.astro';

// get about content
// const about = await import('../content/about.md');
// const aboutContent = about.frontmatter;
---

<script>
  import { animate } from 'motion';
  animate(
    '[data-intro-title]',
    { opacity: 1, translate: '0' },
    { ease: 'easeIn', duration: 0.5, delay: 0.1 },
  );
  animate(
    '[data-expertise-block]',
    { opacity: 1, translate: '0' },
    { ease: 'easeIn', duration: 0.3, delay: 0.6 },
  );
  animate(
    '[data-binary-title]',
    { opacity: 1, translate: '0' },
    { ease: 'easeIn', duration: 0.8, delay: 0.8 },
  );
  animate(
    '[data-about-section]',
    { opacity: 1, translate: '0' },
    { ease: 'easeIn', duration: 1, delay: 1 },
  );
</script>
<Layout title="Paul Huisman | Freelance Web Developer">
  <!-- Sidebar Overlay -->
  <SidebarOverlay client:load />

  <div
    class="w-[calc(100%-3rem)] bg-gray-100 text-black lg:w-[calc(100%-4rem)]"
  >
    <!-- Header -->
    <Header client:load />
    <!-- Subheader -->

    <SubHeader client:load />

    <!-- Binary Section -->
    <section
      class="overflow-hidden py-8 text-center opacity-0"
      data-binary-title
    >
      <div
        class="font-roboto-mono flex flex-wrap justify-center text-xs text-gray-400"
      >
        <div class="mx-1">01110011</div>
        <div class="mx-1">01100001</div>
        <div class="mx-1">01110010</div>
        <div class="mx-1">01100001</div>
        <div class="mx-1">01101000</div>
        <div class="mx-1">00100000</div>
        <div class="mx-1">00111100</div>
        <div class="mx-1">00110011</div>
        <div class="mx-1">00100000</div>
        <div class="mx-1">01110000</div>
        <div class="mx-1">01100001</div>
        <div class="mx-1">01110101</div>
        <div class="mx-1">01101100</div>
        <div class="mx-1">00001101</div>
        <div class="mx-1">00001010</div>
      </div>
    </section>

    <!-- About Section -->
    <About client:load />

    <!-- Projects Section -->
    <Projects />

    <!-- More Section -->
    <More />
    <!-- Footer -->
    <Footer />
  </div>
</Layout>
