<section class="container mx-auto px-8 py-10 md:px-12 md:py-16">
  <h2 class="font-montserrat mb-8 text-4xl font-bold xl:text-6xl">More</h2>
  <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
    <div class="rounded-lg bg-white p-6 shadow-md">
      <div class="bg-green-custom mb-4 h-1 w-16"></div>
      <h3 class="mb-2 text-2xl font-bold">Github</h3>
      <p class="mb-4">Have a look at my open-source projects/contributions.</p>
      <a
        href="https://github.com/paulhuisman"
        target="_blank"
        rel="noopener noreferrer"
        class="text-green-custom hover:underline"
      >
        View the work
      </a>
    </div>

    <div class="rounded-lg bg-white p-6 shadow-md">
      <div class="bg-green-custom mb-4 h-1 w-16"></div>
      <h3 class="mb-2 text-2xl font-bold">Photography</h3>
      <p class="mb-4">
        Everyone needs hobbies. I got quite a few, one of them is photography.
      </p>
      <a
        href="https://500px.com/paulhuisman"
        target="_blank"
        rel="noopener noreferrer"
        class="text-green-custom hover:underline"
      >
        View photos
      </a>
    </div>
  </div>
</section>
